<table class='table'>
  <thead>
    <tr>
      <th scope='col'>#</th>
      <th scope='col'>Модель</th>
      <th scope='col'>Название</th>
      <th scope='col'>Год</th>
      <th scope='col'>Цвет</th>
      <th scope='col'>Топливо</th>
      <th scope='col'>Цена</th>
      <th scope='col'>Скидка</th>
      <th scope='col'>Описание</th>
    </tr>
  </thead>
  <tbody>
    {{#each cars}}
      <tr>
        <th scope='row'>{{@index}}</th>
        <td> {{model.title}} </td>
        <td> {{title}} </td>
        <td> {{creationYear}} </td>
        <td> {{color}} </td>
        <td> {{fuel}} </td>
        <td> {{price}} </td>
        <td> {{discount}} </td>
        <td
          style='white-space: nowrap; text-overflow: ellipsis; max-width: 200px; overflow: hidden'
        >
          {{description}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>